<%= form_for([@course, @course.chapters.build]) do |f| %>
  <p style="color:black">
    <%= f.label :imgcode %><br>
    <%= f.text_field :imgcode %>
  </p>
  <p style="color:black">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p style="color:black">
    <%= f.label :subtitle %><br>
    <%= f.text_area :subtitle %>
  </p>
  <p style="color:black">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p style="color:black">
    <%= f.submit %>
  </p>
<% end %>